.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  // background-color: rgba(0,0,0,0.5);
}

.modal-content {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-bottom: 83px;
  // max-width: 375px;
  // height: 100%;
  background-color: #fefefe;
  // margin: 10% auto;
  padding: 20px;
  // border: 1px solid #888;
  width: 100%;
}

.close {
  color: $primaryBlack;
  /* h1/20 regular */
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal_card_img {
  width: 267px;
  margin: 0 auto;
}
.modal_btn {
  position: static;
  width: 199px;
  height: 49px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 17px 10px 17px;
  border-radius: 8px;
  background: $primaryBlue;


color: $primaryWhite;
font-family: 'Roboto';
font-size: 16px;
font-weight: 500;
line-height: 19px;
}
