@import '~node_modules/modern-normalize/modern-normalize.css';



// fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:wght@100;300;400;500&display=swap');
@font-face {
  font-family: 'Disket-Bold';
  src: url('/src/fonts/Disket-Mono-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Disket-Regular';
  src: url('/src/fonts/Disket-Mono-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/fonts/Roboto-Regular.ttf');
  font-weight: 400;
}
* {
transition: all 0.4s ease;

}

html,body {
  height: 100%;
  min-width: 320px;
  background-color: #F6F6F6;
  @media screen and (min-width: 1440px) {
    min-width: 1440px;
  }
}
ul
{
list-style: none;
padding: 0;
margin: 0;
}


// wrapper обгортка для всего сайту
.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}




// обгортка для контейнерів загальна
.container {
    max-width: 375px;
  margin: 0 auto;

    width: 100%;
  padding: 0 16px;
  @media screen and (min-width: 1440px) {
    max-width: 1440px;
  padding: 0 80px;

  }
  
}


