// кольори змінні
$primaryBlue : #091D9E;
$primaryBlack: #0C0C0C;
$primaryWhite: #F6F6F6;

$secondaryBlue : #BCC5FF;
$grey : #C1C1C1;
$yellow : #EBBA1A;
$gradientBlue: linear-gradient(234.41deg, #260dc1 16.245%, #59006f 100%);