<div id="modal" class="modal">
  <div class="modal-content">
    <h2 class="close">Картка товара</h2>

    <img class="modal_card_img" src="/src/images/jpg/iphone.jpeg" alt="goods">
    <h3>Смартфон Apple iPhone 13 128GB</h3>
    <p>Кольор: Білий</p>

    <p>Характеристики</p>
    <p>Экран:</p>
    <p>Количество ядер:</p>
    <p>Процессор:</p>
    <p>Оперативная память (RAM):</p>
    <p>Основная камераМПикс:</p>
    <p>Фронтальная камераМПикс: </p>
      <a href="#"> Всі характеристики</a>
      <h3> Відгуки</h3>

      <h3>1000$</h3>
      <button type="button"> До кошика</button>

  </div>
</div>