<section class="container advertising_container splide" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
    <ul class="advertising_list splide__list">
        <li class="advertising_list_item splide__slide">
            <img class="advertising_list_item_image" src="/src/images/jpg/advert_image.jpg" alt="реклама">
        </li>
        <li class="advertising_list_item splide__slide">
            <img class="advertising_list_item_image" src="/src/images/jpg/advert_image.jpg" alt="реклама">
        </li>
        <li class="advertising_list_item splide__slide">
            <img class="advertising_list_item_image" src="/src/images/jpg/advert_image.jpg" alt="реклама">
        </li>
    </ul>
</div>

</section>
<script type="module" src="/src/slider/splide.js"></script>