<section class="container advertising_container">
  <div
    id="slider1"
    class="splide advertising_small"
    role="group"
    aria-label="Splide Basic HTML Example"
  >
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <img src="/src/images/jpg/advert_image.jpg" alt="реклама" />
        </li>
        <li class="splide__slide">
          <img src="/src/images/jpg/advert_image.jpg" alt="реклама" />
        </li>
        <li class="splide__slide">
          <img src="/src/images/jpg/advert_image.jpg" alt="реклама" />
        </li>
        <li class="splide__slide">
          <img src="/src/images/jpg/advert_image.jpg" alt="реклама" />
        </li>
        <li class="splide__slide">
          <img src="/src/images/jpg/advert_image.jpg" alt="реклама" />
        </li>
        <li class="splide__slide">
          <img src="/src/images/jpg/advert_image.jpg" alt="реклама" />
        </li>
        <li class="splide__slide">
          <img src="/src/images/jpg/advert_image.jpg" alt="реклама" />
        </li>
      </ul>
    </div>
  </div>
  <div
    id="slider2"
    class="splide advertising_big"
    role="group"
    aria-label="Splide Basic HTML Example"
  >
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <img src="/src/images/jpg/bunner.jpg" alt="реклама" />
        </li>
        <li class="splide__slide">
          <img src="/src/images/jpg/bunner.jpg" alt="реклама" />
        </li>
        <li class="splide__slide">
          <img src="/src/images/jpg/bunner.jpg" alt="реклама" />
        </li>
        <li class="splide__slide">
          <img src="/src/images/jpg/bunner.jpg" alt="реклама" />
        </li>
        <li class="splide__slide">
          <img src="/src/images/jpg/bunner.jpg" alt="реклама" />
        </li>
        <li class="splide__slide">
          <img src="/src/images/jpg/bunner.jpg" alt="реклама" />
        </li>
      </ul>
    </div>
  </div>
</section>




<script type="module" src="/src/slider/splide.js"></script>
