<section class="container">
  <h2 class="container_title">Категорії</h2>

  <ul class="catalog_list">
    <li class="catalog_item">
      <a href="#" class="catalog_item_link"
        ><div class="catalog_item_block">
          <img
            src="/src/images/jpg/case.png"
            alt=""
            class="catalog_block_img"
          />
        </div>
        <p class="catalog_item_text">Чохол для телефона</p></a
      >
    </li>
    <li class="catalog_item"><a href="" class="catalog_item_link"><div class="catalog_item_block">
        <img
          src="/src/images/jpg/glass.png"
          alt="#"
          class="catalog_block_img"
        />
      </div>
      <p class="catalog_item_text">Захисне скло для телефона</p></a>
      
    </li>
    <li class="catalog_item"><a href="" class="catalog_item_link"><div class="catalog_item_block">
        <img
          src="/src/images/jpg/images-removebg-preview.png"
          alt="#"
          class="catalog_block_img"
        />
      </div>
      <p class="catalog_item_text">Зарядний пристрій</p></a>
      
    </li>
    <li class="catalog_item"><a href="" class="catalog_item_link"><div class="catalog_item_block">
        <img
          src="/src/images/jpg/car-holder.png"
          alt="#"
          class="catalog_block_img"
        />
      </div>
      <p class="catalog_item_text">Автомобільний тримач для телефона</p></a>
      
    </li>
    <li class="catalog_item"><a href="" class="catalog_item_link"><div class="catalog_item_block">
        <img
          src="/src/images/jpg/adaptor.png"
          alt="#"
          class="catalog_block_img"
        />
      </div><p class="catalog_item_text">Перехідник</p></a>
      
      
    </li>
    <li class="catalog_item"><a href="" class="catalog_item_link"><div class="catalog_item_block">
        <img
          src="/src/images/jpg/cable.png"
          alt="#"
          class="catalog_block_img"
        />
      </div>
      <p class="catalog_item_text">
        Кабель</p></a>
      
        <li class="catalog_item"><a href="" class="catalog_item_link"><div class="catalog_item_block">
            <img
              src="/src/images/jpg/strap.png"
              alt="#"
              class="catalog_block_img"
            />
          </div>
          <p class="catalog_item_text">Ремінець для годинника</p></a>
          
        </li>
        <li class="catalog_item"><a href="" class="catalog_item_link"><div class="catalog_item_block">
            <img
              src="/src/images/jpg/tablet-case.png"
              alt="#"
              class="catalog_block_img"
            />
          </div>
          <p class="catalog_item_text">Чохол для планшета</p></a>
          
        </li>
        <li class="catalog_item"><a href="" class="catalog_item_link"><div class="catalog_item_block">
            <img
              src="/src/images/jpg/battery.png"
              alt="#"
              class="catalog_block_img"
            />
          </div>
          <p class="catalog_item_text">Аккумулятор для телефона</p></a>
          
        </li>
        <li class="catalog_item"><a href="" class="catalog_item_link"><div class="catalog_item_block">
            <img
              src="/src/images/jpg/question.png"
              alt="#"
              class="catalog_block_img"
            />
          </div>
          <p class="catalog_item_text">Різне</p></a>
          
        </li>
      </p>
    </li>
  </ul>
</section>
