<header class="container header_container">
  <h1 class="header_logo">АКС</h1>
  <h2 hidden>мобільні аксесуари</h2>
  <p class="header_title">мобiльнi аксесуари</p>
  <form class="header_form">
    <label class="header_input_label">
      <svg width="14" height="14">
        <use href="/src/images/svg/symbol-defs.svg#icon-search"></use>
      </svg>
      <input
        class="header_input"
        type="search"
        id="mySearch"
        name="search"
        placeholder="Пошук"
    /></label>
  </form>
  <nav>
    <ul class="header_nav_list">
      <div class="header_nav_list_wrapper">
        <svg width="26" height="18">
          <use href="/src/images/svg/symbol-defs.svg#icon-icon-catalog"></use>
        </svg>
        <li class="header_nav_list_item">Каталог</li>
      </div>
      <div class="header_nav_list_wrapper">
        <svg width="26" height="18">
          <use href="/src/images/svg/symbol-defs.svg#icon-icon-basket"></use>
        </svg>
        <li class="header_nav_list_item">Кошик</li>
      </div>
      <div class="header_nav_list_wrapper">
        <svg width="26" height="18">
          <use href="/src/images/svg/symbol-defs.svg#icon-icon-profile"></use>
        </svg>
        <li class="header_nav_list_item">Профіль</li>
      </div>
    </ul>
  </nav>
</header>
