<section class="container">
  <h2 class="container_title">Категорії</h2>

  <ul class="catalog_list">
    <li class="catalog_item">
      <a href="/src/partials/smartfons.html" class="catalog_item_link"
        ><div class="catalog_item_block">
          <img
            src="/src/images/jpg/samsung-logo.png"
            alt=""
            class="catalog_block_img"
          />
        </div>
        <p class="catalog_item_text">Samsung</p></a
      >
    </li>
    <li class="catalog_item">
      <a href="" class="catalog_item_link"
        ><div class="catalog_item_block">
          <img
            src="/src/images/jpg/apple-logo.png"
            alt="#"
            class="catalog_block_img"
          />
        </div>
        <p class="catalog_item_text">Iphone</p></a
      >
    </li>
    <li class="catalog_item">
      <a href="" class="catalog_item_link"
        ><div class="catalog_item_block">
          <img
            src="/src/images/jpg/xiaomi-logo.png"
            alt="#"
            class="catalog_block_img"
          />
        </div>
        <p class="catalog_item_text">Xiaomi</p></a
      >
    </li>
    <li class="catalog_item">
      <a href="" class="catalog_item_link"
        ><div class="catalog_item_block">
          <img
            src="/src/images/jpg/honor-logo.png"
            alt="#"
            class="catalog_block_img"
          />
        </div>
        <p class="catalog_item_text">Honor</p></a
      >
    </li>
    <li class="catalog_item">
      <a href="" class="catalog_item_link"
        ><div class="catalog_item_block">
          <img
            src="/src/images/jpg/huawei-logo.png"
            alt="#"
            class="catalog_block_img"
          />
        </div>
        <p class="catalog_item_text">Huawei</p></a
      >
    </li>
    <li class="catalog_item">
      <a href="" class="catalog_item_link"
        ><div class="catalog_item_block">
          <img
            src="/src/images/jpg/oneplus-logo.png"
            alt="#"
            class="catalog_block_img"
          />
        </div>
        <p class="catalog_item_text">OnePlus</p></a
      >
    </li>

    <li class="catalog_item">
      <a href="" class="catalog_item_link"
        ><div class="catalog_item_block">
          <img
            src="/src/images/jpg/realme-logo.png"
            alt="#"
            class="catalog_block_img"
          />
        </div>
        <p class="catalog_item_text">Realme</p></a
      >
    </li>
    <li class="catalog_item">
      <a href="" class="catalog_item_link"
        ><div class="catalog_item_block">
          <img
            src="/src/images/jpg/zte-logo.png"
            alt="#"
            class="catalog_block_img"
          />
        </div>
        <p class="catalog_item_text">ZTE</p></a
      >
    </li>
  </ul>
</section>
