<section class="container promo_container">
    <div class="promo_logo_wrapper"><h2 class="promo_logo">Акції</h2></div>
  
  <section id="slider3" class="splide" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <div class="promo_card">
            <img src="/src/images/jpg/Frame 97.jpeg" alt="phone" / width="114"
            height="158">
            <div><p>Смартфон Apple iPhone 13 128GB</p></div>
            <div class="promo_card_price">
              <h2 class="price">1000$</h2>
              <s>1200$</s>
            </div>
            <div class="promo_card_status">
                <p>В наявності</p>
                <svg width="26" height="18">
                    <use href="/src/images/svg/symbol-defs.svg#icon-Vector-1"></use>
                  </svg>
            </div>
            <div class="button_wrapper">
                <button type="button" class="promo_card_button">До кошика</button>
            </div>
          </div>
        </li>
        <li class="splide__slide">
          <div class="promo_card">
            <img src="/src/images/jpg/iphone.jpeg" alt="phone" / width="114" 
            height="158">
            <div><p>Смартфон Apple iPhone 12 64GB</p></div>
            <div class="promo_card_price">
              <h2 class="price">1000$</h2>
              <s>1200$</s>
            </div>
            <div class="promo_card_status">
                <p>В наявності</p>
                <svg width="26" height="18">
                    <use href="/src/images/svg/symbol-defs.svg#icon-Vector-1"></use>
                  </svg>
            </div>
           
            <div class="button_wrapper">
                <button type="button" class="promo_card_button">До кошика</button>
            </div>

          </div>
        </li>
        <li class="splide__slide">
          <div class="promo_card">
            <img src="/src/images/jpg/Frame 97.jpeg" alt="phone" / width="114"
            height="158">
            <div><p>Смартфон Apple iPhone 12 64GB</p></div>
            <div class="promo_card_price">
              <h2 class="price">1000$</h2>
              <s>1200$</s>
            </div>
            <div class="promo_card_status">
                <p>В наявності</p>
                <svg width="26" height="18">
                    <use href="/src/images/svg/symbol-defs.svg#icon-Vector-1"></use>
                  </svg>
            </div>
            
            <div class="button_wrapper">
                <button type="button" class="promo_card_button">До кошика</button>
            </div>
 
          </div>
        </li>
      </ul>
    </div>
  </section>
</section>
